#project_list {
		width         : 739px;
                margin        : 0px;
                padding       : 0px;
                background    : transparent;
                float         : left;
                text-align    : left;
                margin-top    : 20px;
                margin-bottom : 10px;
               }
#project_wrapper {
		width         : 133px;
		height        : 234px;
	        background    : transparent url('/images/dotted-line-04.gif')  right repeat-y ;
                margin        : 0px;
                padding       : 0px;
                margin-right   : 9px;
                padding-right  : 9px;
                float         : left;
                text-align    : left;
               }
#project_wrapper_end {
		width         : 133px;
		height        : 234px;
	        background    : transparent;
                margin        : 0px;
                padding       : 0px;
                float         : left;
                text-align    : left;
               }
               
               
#project_top {
		float         : left;
                width         : 133px;
                height        : 26px;
                margin        : 0px;
                padding       : 0px;
                padding-left  : 7px;
                padding-top   : 4px;
                background    : transparent url('/images/latest-project-header.gif') no-repeat;
                text-align    : left;
		font-size     : 12px;
                color         : #ffffff;
                font-weight    : bold;
               }
#project_text {
                width         : 127px;
                height        : 95px;
		font-weight   : normal;
		font-size     : 12px;
		color         : #000000;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 5px;
                padding-top   : 6px;
                text-align    : left;
               }


#project_text a:link    {color:#000000;} 
#project_text a:visited {color:#000000;} 
#project_text a:hover   {color:#666666;} 
#project_text a:active  {color:#666666;}	

#project_more {
                width         : 127px;
		font-weight   : normal;
		font-size     : 12px;
		color         : #000000;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 5px;
                padding-top   : 6px;
                text-align    : left;
               }


#project_more a:link    {color:#000000;} 
#project_more a:visited {color:#000000;} 
#project_more a:hover   {color:#666666;} 
#project_more a:active  {color:#666666;}	

