body	          {
	          margin           : 0px;
	          padding          : 0px;
                  font-weight      : normal;
	          font-family      :  arial, verdana, helvetica, sans-serif;
                  color            : #000000;
	          line-height      : 1.3;
	          }

a:link    {text-decoration:none;border:0;} 
a:visited {text-decoration:none;border:0;} 
a:hover   {text-decoration:none;border:0;} 
a:active  {text-decoration:none;border:0;}

.edit_button       {
                   position        : absolute ; 
                   z-index         : 70;
                   top             : 5px;
                   right           : 10px;
                   }
                   
.logout_button     {
                   position        : fixed ; 
                   top             : 40px ; 
                   left            : 50%;
                   margin-left     : 515px;
                   z-index         : 70;
                   }
                  
                 
#body_wrapper      {
		   width           : 100%;
                   height          : 900px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : transparent;
                   background      : #bdbec0 url('/images/back-01.jpg') center repeat-y ;
                   }

#footer_wrapper    {
		   width           : 100%;
		   height          : 110px;
		   text-align      : center;
                   margin          : 0px;
                   padding         : 0px;
                   background      : #000000;
                   display         : none;
                   }
                   
#footer_content    {
		   width           : 972px;
		   height          : 100px;
                   position        : absolute; left: 50%; margin-left: -485px;
                   }
                   
#footer_line       {
		   width           : 972px;
		   float           : left;
                   }
                   
#footer_links      {
		   color           : #ffffff;
		   font-size       : 13px;
		   text-align      : left;
		   margin-top      : 10px;
		   margin-bottom   : 5px;
		   float           : left;
                   }
                   
#footer_links a:link    {color:#ffffff;} 
#footer_links a:visited {color:#ffffff;} 
#footer_links a:hover   {color:#666666;} 
#footer_links a:active  {color:#666666;}

#footer_address {
		color         : #ffffff;
		width         : 550px;
		font-size     : 11px;
		text-align    : left;
		margin-top    : 10px;
		margin-bottom : 5px;
		float         : left;
               }

#footer_credits {
		color         : #ffffff;
		width         : 420px;
		font-size     : 11px;
		text-align    : right;
		margin-top    : 10px;
		margin-bottom : 6px;
		float         : left;
               }
               
#work_wrapper {
		width         : 1003px;
                margin        : 0px;
                padding       : 0px;
                position      : absolute; left: 50%; margin-left: -501px;
	        background    : transparent;
               }
#logo_wrapper {
		width         : 542px;
		height        : 150px;
                margin        : 0px;
                padding       : 0px;
                background    : transparent;
                float         : left;
                text-align    : left;
               }
#banner_wrapper {
		width         : 461px;
		position      : relative;
		height        : 150px;
                margin        : 0px;
                padding       : 0px;
                background    : transparent;
                float         : left;
               }
#wide_image_wrapper {
		width         : 1003px;
		position      : relative;
                margin        : 0px;
                padding       : 0px;
                margin-top    : 5px;
                margin-left   : 0px;
                background    : transparent;
                float         : left;
               }
#top_menu_wrapper {
		width         : 1003px;
		position      : relative;
		height        : 30px;
                margin        : 0px;
                padding       : 0px;
                background    : transparent url('/images/nav-bac.jpg') repeat-x ;
                float         : left;
               }
.top_menu {
width: 988px;
position : relative;
text-align: left;
font-size : 13px;
color : #ffffff;
float : left;
margin : 0px;
padding: 8px 0 0 20px;
}
.top_menu a:link    {color:#ffffff;} 
.top_menu a:visited {color:#ffffff;} 
.top_menu a:hover   {color:#666666;} 
.top_menu a:active  {color:#666666;}

#left_menu {
		width         : 230px;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 0px;
                margin-right  : 12px;
                margin-top    : 20px;
                background    : transparent;
                float         : left;
                text-align    : left;
                position      : relative;
               }
#left_menu_wrapper {
		width         : 230px;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 0px;
                float         : left;
                position      : relative;
               }
#left_wrapper_active {
		width         : 230px;
		height        : 25px;
	        background    : #9163aa;
	        margin-bottom : 6px;
                float         : left;
                text-align    : left;
               }
               
.lm_inner_active {
		float         : left;
		font-weight   : normal;
		font-size     : 14px;
		color         : #ffffff;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 10px;
                padding-top   : 4px;
                text-align    : left;
               }
#ls_inner {
		font-weight   : normal;
                position      : relative;
		font-size     : 12px;
		color         : #ffffff;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 10px;
                padding-top   : 2px;
                text-align    : left;
               }
#left_wrapper {
		float         : left;
		width         : 230px;
		height        : 25px;
	        background    : #a988be;
	        margin-bottom : 6px;
               }
.lm_inner {
		font-weight   : normal;
		font-size     : 12px;
		color         : #ffffff;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 10px;
                padding-top   : 4px;
               }
.lm_inner_active a, .lm_inner_active a:visited {color:#FFF;}
.lm_inner a:hover   {color:#666666;} 
.lm_inner a:active  {color:#666666;}
.lm_inner a, .lm_inner a:visited {color:#FFF;}

#left_wrapperx {
		float         : left;
		height        : 65px;
		width         : 230px;
	        background    : #a988be;
	        margin-bottom : 6px;
               }
.lm_innerx {
		font-weight   : normal;
		font-size     : 12px;
		color         : #ffffff;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 10px;
                padding-top   : 4px;
               }
.lm_innerx a:link    {color:#ffffff;} 
.lm_innerx a:visited {color:#ffffff;} 
.lm_innerx a:hover   {color:#666666;} 
.lm_innerx a:active  {color:#666666;}	

.lm_inner_activex {
		float         : left;
		font-weight   : normal;
		font-size     : 12px;
		color         : #ffffff;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 10px;
                padding-top   : 4px;
                text-align    : left;
               }
               
.lm_inner_activex a:link    {color:#ffffff;} 
.lm_inner_activex a:visited {color:#ffffff;} 
.lm_inner_activex a:hover   {color:#666666;} 
.lm_inner_activex a:active  {color:#666666;}	

#left_snippet {
		position      : relative;
		float         : left;
		text-align    : left;
		font-size     : 12px;
		width         : 229px;
	        margin        : 0px;
	        padding       : 0px;
	        padding-top   : 10px;
	        margin-left   : 1px;
                background    : transparent url('/images/under-nav-back.jpg') repeat-y ;
               }
.ls_inner {
		position      : relative;
		width         : 175px;
		height        : 54px;
		font-weight   : normal;
		font-size     : 12px;
		color         : #ffffff;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 27px;
                margin-bottom : 20px;
                background    : transparent url('/images/curve-box-01.png');
                float         : left;
               }
#ls_inner_left {
		width         : 145px;
		height        : 54px;
		text-align    : left;
	        font-family   :  verdana, arial, helvetica, sans-serif;
		font-weight   : normal;
		font-size     : 12px;
		color         : #9163aa;
                margin        : 0px;
                padding       : 0px;
                padding-left  : 6px;
                padding-top   : 8px;
                float         : left;
               }
#ls_inner_left a:link    {color:#9163aa;} 
#ls_inner_left a:visited {color:#9163aa;} 
#ls_inner_left a:hover   {color:#a988be;} 
#ls_inner_left a:active  {color:#a988be;}	

#ls_inner_right {
		height        : 54px;
		text-align    : left;
	        font-family   : verdana, arial, helvetica, sans-serif;
		font-size     : 29px;
		color         : #ffffff;
                margin        : 0px;
                padding       : 0px;
                padding-right : 3px;
                padding-top   : 3px;
                float         : left;
               }
#ls_inner_right a:link    {color:#ffffff;} 
#ls_inner_right a:visited {color:#ffffff;} 
#ls_inner_right a:hover   {color:#a988be;} 
#ls_inner_right a:active  {color:#a988be;}	

#left_filler {
		float         : left;
		font-size     : 12px;
		width         : 229px;
		height        : 100px;
	        margin-top    : 0px;
	        margin-left   : 1px;
                background    : transparent url('/images/under-nav-back.jpg') repeat-y ;
               }

#body_holder {
		width         : 750px;
                margin        : 0px;
                padding       : 0px;
                float         : left;
               }

#body_image {
		width         : 736px;
		position      : relative;
		float         : left;
                margin        : 0px;
                padding       : 0px;
                margin-bottom : 8px;
                margin-top    : 20px;
               }

#horizontal_dots {
		float         : left;
	        margin-top    : 0px;
	        margin-bottom : 0px;
               }

.horizontal_dots_2 {
		float         : left;
	        margin-top    : 0px;
	        margin-bottom : 0px;
               }

.horizontal_dots_3 {
		float         : left;
	        margin-top    : 0px;
	        margin-bottom : 10px;
	        margin-left   : 10px;
               }

.horizontal_dots_4 {
		float         : left;
	        margin-top    : 10px;
	        margin-bottom : 10px;
	        margin-left   : 10px;
               }

#body_title {
		width         : 420px;
		float         : left;
                margin        : 0px;
                padding       : 0px;
                color         : #9163aa;
                font-size     : 20px;
                text-align    : left;
                margin-top    : 10px;
                margin-bottom : 10px;
               }
#body_text {
		width         : 444px;
		position      : relative;
		float         : left;
                margin        : 0px;
                padding       : 0px;
                margin-bottom : 2px;
	        background    : transparent url('/images/dotted-line-04.gif')  right repeat-y ;
	        color         : #7d7d80;
	        font-size     : 13px;
               }
#bt_inner {
		width         : 423px;
		text-align    : left;
		font-style    : light;
		color         : #7d7d80;
		float         : left;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 0px;
               }
#bt_inner a:link    {color: #6AC8EE !important;text-decoration : underline;}
#bt_inner a:visited {color : #7d7d80;text-decoration : underline;} 
#bt_inner a:hover   {color : #000000;text-decoration : underline;} 
#bt_inner a:active  {color : #7d7d80;text-decoration : underline;}	

#latest-news {
		width         : 200px;
		position      : relative;
		float         : left;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 10px;
                color         : #9163aa;
                font-size     : 20px;
                text-align    : left;
                margin-top    : 10px;
                margin-bottom : 10px;
               }

#right_side {
		width         : 295px;
		float         : left;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 2px;
               }
#latest_news_wrapper {
		width         : 295px;
		position      : relative;
		float         : left;
                margin        : 0px;
                border-top: 2px dotted #CCC;
                padding: 10px 0px 10px 0px;
               }
#wide_side_image_wrapper {
		width         : 295px;
		position      : relative;
		float         : left;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 3px;
               }
#latest_news_pic_holder {
		width         : 105px;
		float         : left;
                margin        : 0px;
                padding       : 0px;
               }

.latest_news_snippet_holder {
		width         : 170px;
		text-align    : left;
		float         : left;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 10px;
                margin-top    : -2px;
                color         : #7d7d80;
                font-size     : 12px;
               }
.latest_news_snippet_holder a:link    {color:#7d7d80;font-weight:bold;} 
.latest_news_snippet_holder a:visited {color:#7d7d80;font-weight:bold;} 
.latest_news_snippet_holder a:hover   {color:#aaaaaa;font-weight:bold;} 
.latest_news_snippet_holder a:active  {color:#aaaaaa;font-weight:bold;}

#login_wrapper {
		width         : 366px;
                margin        : 0px;
                padding       : 0px;
                position      : absolute; left: 50%; margin-left: -183px; top : 50px;
                background    : transparent;
                }
                
#login_logo {
		width         : 366px;
                margin        : 0px;
                padding       : 0px;
                float         : left;
                background    : transparent;
                }



#login_form         {
		   width           : 366px;
		   float           : left;
                   margin          : 0px;
                   padding         : 0px; 
                   margin-left     : 20px;
                   background      : #EFF7FC;
                   font-size       : 12px;
                   color           : #000000;
                   border          : 1px solid #66ffff;
                   }
                   
                   
.login_form_body {
		   width           : 281px;
		   text-align      : left;
                   margin          : 0px;
                   padding         : 0px;
                   padding-left    : 30px;
                   padding-top     : 0px;
                   padding-bottom  : 0px;
                   margin-left     : 30px;
                   }
.login_form_heading {
		   width           : 281px;
		   text-align      : left;
                   margin          : 0px;
                   padding         : 0px;
                   padding-left    : 0px;
                   padding-top     : 4px;
                   padding-bottom  : 4px;
                   background      : #EFF7FC;;
                   font-size       : 14px;
                   font-weight     : bold;
                   color           : #BDBDBD;
                   border-bottom   : 1px solid #66ffff;
                   margin-left     : 30px;
                   }
                   
                   
#login_form_userid_text     {
		   width           : 250px;
		   text-align      : left;
                   margin          : 0px;
                   padding         : 0px; 
                   padding-top     : 4px;
                   background      : transparent;
                   font-size       : 10px;
                   color           : #000000;
                   }
#login_form_userid_data     {
		   text-align      : left;
		   width           : 250px;
                   margin          : 0px;
                   padding         : 0px; 
                   background      : transparent;
                   font-size       : 12px;
                   color           : #000000;
                   }
#login_form_submit {
		   text-align      : left;
		   width           : 250px;
                   margin          : 0px;
                   padding         : 0px; 
                   padding-top     : 4px;
                   padding-bottom  : 10px;
                   }
.login_form_button {margin :0px; border :1px solid #66ffff; background:#ffffff;}
  
#logout_button     {width:60px; height:20px; margin :0px; padding:5px; padding-top:7px; border :0px solid #66ffff; font-size:12px; text-align:center; background:#0E34F6; color:#ffffff;}

#edit_back  {
		   text-align      : left;
		   width           : 100%;
		   height          : 100%;
                   margin          : 0px;
                   padding         : 0px; 
                   padding-top     : 4px;
                   padding-bottom  : 10px;
                   background      : #000000;
                   position        : fixed; top: 0px; left: 0; right: 0; border: none; 
                   filter          : alpha(opacity=50);
                   -moz-opacity    : .50;
                   opacity         : .50;
                   display         : none;
                   overflow        : hidden;
                   z-index         : 100;
            }
            
#edit_area {
		   text-align      : left;
		   width           : 904px;
		   height          : 570px;
                   padding         : 5px;
                   position        : fixed; left: 50%; margin-left : -452px; top : 10px; 
                   background      : #ffffff;
                   display         : none;
                   overflow        : hidden;
                   z-index         : 200;
                   }
                   
#admin_title {
		   text-align      : left;
		   width           : 901px;
		   height          : 30px;
                   padding         : 0px;
                   margin          : 0px;
                   float           : left; 
                   background      : #0174DF;
                   border          : 1px solid #0101DF;
                   }
                   
#admin_title_left {
		   text-align      : left;
		   width           : 490px;
		   height          : 30px;
                   padding         : 0px;
                   margin          : 0px;
                   padding-left     : 10px;
                   margin-top      : 6px;
                   float           : left; 
                   color           : #ffffff;
                   font-weight     : bold;
                   }
                   
#admin_title_right {
		   text-align      : right;
		   width           : 391px;
		   height          : 30px;
                   padding         : 0px;
                   margin          : 0px;
                   margin-top      : 5px;
                   margin-right    : 10px;
                   float           : left; 
                   }
                   
#admin_footer {
		   text-align      : left;
		   width           : 901px;
		   height          : 30px;
                   padding         : 0px;
                   margin          : 0px;
                   float           : left; 
                   background      : #0174DF;
                   border          : 1px solid #0101DF;
                   }
                   
#admin_edit_frame {
		   text-align      : left;
		   width           : 900px;
                   padding         : 0px;
                   margin          : 0px;
                   float           : left; 
                   border          : 1px solid #0101DF;
                   }

/*-----------------------------------------------------------------------------------------------*/
/* ENQUIRY FORM */
/*-----------------------------------------------------------------------------------------------*/
#enquire_btn{
float: left;
width: 194px;
height: 44px;
background: url(/images/sign-up-newsletter.png) no-repeat;
margin: 0px 0px 10px 12px;
padding: 0px 0 0 10px;
}
#enquire_btn a, #Download_btn a{color:#FFF;text-transform:uppercase; cursor:pointer;}

#enquiry_form_header{float:left;width:329px;height:30px;color:#FFF;text-transform:uppercase;font-size:12px;background:url(/images/enquiryform_hdr.png) no-repeat;
margin:0;padding:18px 0 0 50px;}
#enquiry_form{float:left;width:339px;background:#D5D6D7;margin:0;padding:10px 20px 20px;}
#enquiry_form p {font-size : 13px;}
#enquiry_form ul {font-size : 13px;}
.enquiry_forms_wrapper{margin-top:8px; width:60px;font-size: 13px;}
.enquiry_input_wrapper{margin-top:4px; width:244px; height:22px;font-size: 13px;}
#btn_wrapper_r{float:left;height:30px;margin:0;padding:0 0 0 0px;}
#btn_wrapper_r_right{float:left;height:30px;width:164px;margin:0;padding:0 0 20px 10px;}
#btn_wrapper_r_close{float:left;height:30px;width:284px;margin:0;padding:20px 0;}
#btn_end_l_r{float:left;height:30px;width:31px;background:url(/images/btn_L.png) no-repeat;}
#btn_nav_end_r_r{float:left;height:30px;width:31px;background:url(/images/btn_R.png) no-repeat;}
#btn_nav_middle_r{float:left;height:30px;min-width:45px;background:url(/images/btn_M.png) repeat-x;padding:0 0 0 5px;}
.btn_text_r{float:left;height:18px;width:auto;margin-top:3px;}
.btn_text_r a{color:#FFF;font-size: 12px;}
input{border:1px solid #000;background-color:#FFF;color:#666;height:20px;}