.jcarousel-skin-tango .jcarousel-container {
/**    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;*/
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 670px;
    height: 230px;
    padding: 20px 40px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 275px;
    padding: 0px 10px;
    float: left;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  650px;
    height: 230px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  260px;
    height: 285px;
}

.jcarousel-skin-tango .jcarousel-item {
width: 270px;height: 84px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
    height: 230px;
    width: 135px;
    margin-left: 15px;
    margin-right: 15px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin:0px;
    padding-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 32px;
    height: 270px;
    cursor: pointer;
    background: #6AC8EE;
    background: url(/jscripts/next-horizontal.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background: url(/jscripts/next-horizontal.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background: url(/jscripts/next-horizontal.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background: url(/jscripts/next-horizontal.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: url(/jscripts/next-horizontal.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 270px;
    cursor: pointer;
    background: #6AC8EE;
    background: url(/jscripts/prev-horizontal.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/jscripts/next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background: url(/jscripts/prev-horizontal.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background: url(/jscripts/prev-horizontal.png) no-repeat;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: url(/jscripts/prev-horizontal.png) no-repeat;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
display: none !important;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
display: none !important;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

/*******************************************************************/
.jcarousel-skin-imgs .jcarousel-container {
/**    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;*/
}

.jcarousel-skin-imgs .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-imgs .jcarousel-container-horizontal {
float: left;width: 285px;padding: 0px 0 0 10px;
}

.jcarousel-skin-imgs .jcarousel-container-vertical {
    width: 265px;
    height: 345px;
    padding: 20px 20px;
}

.jcarousel-skin-imgs .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-imgs .jcarousel-clip-horizontal {
width:285px;
}

.jcarousel-skin-imgs .jcarousel-clip-vertical {
    width:  240px;
    height: 285px;
}

.jcarousel-skin-imgs .jcarousel-item {
    width: 285px;
}

.jcarousel-skin-imgs .jcarousel-item-horizontal {
    height: 230px;
    height: 190px;
    margin-left: 0px;
    margin-right: 0px;
}

.jcarousel-skin-imgs .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 0px;
    margin-right: 0;
}

.jcarousel-skin-imgs .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-imgs .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-imgs .jcarousel-next-horizontal {
display: none !important;
}

.jcarousel-skin-imgs .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/jscripts/prev-horizontal.png);
}

.jcarousel-skin-imgs .jcarousel-next-horizontal:hover,
.jcarousel-skin-imgs .jcarousel-next-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-imgs .jcarousel-next-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-imgs .jcarousel-next-disabled-horizontal,
.jcarousel-skin-imgs .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-imgs .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-imgs .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-imgs .jcarousel-prev-horizontal {
display: none !important;
}

.jcarousel-skin-imgs .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/jscripts/next-horizontal.png);
}

.jcarousel-skin-imgs .jcarousel-prev-horizontal:hover,
.jcarousel-skin-imgs .jcarousel-prev-horizontal:focus {
    background-position: -32px 0;
}

.jcarousel-skin-imgs .jcarousel-prev-horizontal:active {
    background-position: -64px 0;
}

.jcarousel-skin-imgs .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-imgs .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-imgs .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-imgs .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-imgs .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/jscripts/next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-imgs .jcarousel-next-vertical:hover,
.jcarousel-skin-imgs .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-imgs .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-imgs .jcarousel-next-disabled-vertical,
.jcarousel-skin-imgs .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-imgs .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-imgs .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-imgs .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(/jscripts/prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-imgs .jcarousel-prev-vertical:hover,
.jcarousel-skin-imgs .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-imgs .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-imgs .jcarousel-prev-disabled-vertical,
.jcarousel-skin-imgs .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-imgs .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-imgs .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
/******************************************************************/
.jcarousel-skin-newsnav .jcarousel-container {
/**    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;
    background: #F0F6F9;
    border: 1px solid #346F97;*/
}

.jcarousel-skin-newsnav .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-newsnav .jcarousel-container-horizontal {
    width: 670px;
    height: 230px;
    padding: 20px 40px;
}

.jcarousel-skin-newsnav .jcarousel-container-vertical {
    width: 230px;
    height: 214px;
    padding: 0px 0px;
    float: left;
    overflow: hidden;
}

.jcarousel-skin-newsnav .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-newsnav .jcarousel-clip-horizontal {
    width:  650px;
    height: 230px;
}

.jcarousel-skin-newsnav .jcarousel-clip-vertical {
    width:  230px;
    height: 213px;
}

.jcarousel-skin-newsnav .jcarousel-item {
width: 230px;
}

.jcarousel-skin-newsnav .jcarousel-item-horizontal {
    height: 230px;
    width: 135px;
    margin-left: 15px;
    margin-right: 15px;
}

.jcarousel-skin-newsnav .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-newsnav .jcarousel-item-vertical {
    margin:0px;
    padding-bottom: 0px;
}

.jcarousel-skin-newsnav .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-newsnav .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 32px;
    height: 270px;
    cursor: pointer;
    background: #6AC8EE;
    background: url(/jscripts/next-horizontal.png) no-repeat;
}

.jcarousel-skin-newsnav .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background: url(/jscripts/next-horizontal.png) no-repeat;
}

.jcarousel-skin-newsnav .jcarousel-next-horizontal:hover,
.jcarousel-skin-newsnav .jcarousel-next-horizontal:focus {
    background: url(/jscripts/next-horizontal.png) no-repeat;
}

.jcarousel-skin-newsnav .jcarousel-next-horizontal:active {
    background: url(/jscripts/next-horizontal.png) no-repeat;
}

.jcarousel-skin-newsnav .jcarousel-next-disabled-horizontal,
.jcarousel-skin-newsnav .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-newsnav .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-newsnav .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: url(/jscripts/next-horizontal.png) no-repeat;
}

.jcarousel-skin-newsnav .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 32px;
    height: 270px;
    cursor: pointer;
    background: #6AC8EE;
    background: url(/jscripts/prev-horizontal.png) no-repeat;
}

.jcarousel-skin-newsnav .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/jscripts/next-horizontal.png);
}

.jcarousel-skin-newsnav .jcarousel-prev-horizontal:hover,
.jcarousel-skin-newsnav .jcarousel-prev-horizontal:focus {
    background: url(/jscripts/prev-horizontal.png) no-repeat;
}

.jcarousel-skin-newsnav .jcarousel-prev-horizontal:active {
    background: url(/jscripts/prev-horizontal.png) no-repeat;
}

.jcarousel-skin-newsnav .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-newsnav .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-newsnav .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-newsnav .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: url(/jscripts/prev-horizontal.png) no-repeat;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-newsnav .jcarousel-next-vertical {
display: none !important;
}

.jcarousel-skin-newsnav .jcarousel-next-vertical:hover,
.jcarousel-skin-newsnav .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-newsnav .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-newsnav .jcarousel-next-disabled-vertical,
.jcarousel-skin-newsnav .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-newsnav .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-newsnav .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-newsnav .jcarousel-prev-vertical {
display: none !important;
}

.jcarousel-skin-newsnav .jcarousel-prev-vertical:hover,
.jcarousel-skin-newsnav .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-newsnav .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-newsnav .jcarousel-prev-disabled-vertical,
.jcarousel-skin-newsnav .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-newsnav .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-newsnav .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}