body       {
	          margin           : 0px;
	          padding          : 0px;
                  font-weight      : normal;
	          font-family      : verdana, arial, helvetica, sans-serif;
                  background       : #ffffff;
                  font-size        : 12px;
	          }
textarea  { font-size:12px;font-family:verdana,arial,helvetica,sans-serif;border:1px solid #0101DF;}
input     { font-size:12px;font-family:verdana,arial,helvetica,sans-serif;border:1px solid #0101DF;}
select    { font-size:12px;font-family:verdana,arial,helvetica,sans-serif;border:1px solid #0101DF;}

a:link    {color:#ffffff;} 
a:visited {color:#ffffff;} 
a:hover   {color:#ffffff;} 
a:active  {color:#ffffff;}	

#body_wrapper      {
		   width           : 870px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : transparent;
                   float           : left;
                   }

#menu_wrapper      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : transparent;
                   margin-top      : 10px;
                   float           : left;
                   }
#menu_edit_lines_wrapper      {
		   width           : 420px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : transparent;
                   margin-top      : 20px;
                   margin-left     : 20px;
                   float           : left;
                   border          : 1px solid #0101DF;
                   }
#menu_edit_form_wrapper      {
		   width           : 420px;
		   height          : 490px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : transparent;
                   margin-top      : 20px;
                   margin-left     : 20px;
                   float           : left;
                   border          : 1px solid #0101DF;
                   }

#this_page_title    {
		   width           : 410px;
                   margin-top      : 2px;
                   margin-bottom   : 10px;
                   padding         : 0px;
                   background      : transparent;
                   color           : #000000;
                   float           : left;
                   font-size       : 20px;
                   text-align      : center;
                   }

#menu_main_item    {
		   width           : 220px;
                   margin          : 2px;
                   padding         : 2px;
                   margin-left     : 20px;
                   background      : #0404B4;
                   color           : #ffffff;
                   float           : left;
                   }

#menu_item_level_1 {
		   width           : 200px;
                   margin          : 2px;
                   padding         : 2px;
                   margin-left     : 40px;
                   background      : #8181F7;
                   color           : #ffffff;
                   float           : left;
                   }
#menu_up {
		   width           : 20px;
                   margin          : 2px;
                   padding         : 2px;
                   background      : #FF0000;
                   color           : #ffffff;
                   float           : left;
                   }
#menu_down {
		   width           : 20px;
                   margin          : 2px;
                   padding         : 2px;
                   background      : #FF0000;
                   color           : #ffffff;
                   float           : left;
                   }

#menu_edit {
		   width           : 25px;
                   margin          : 2px;
                   padding         : 2px;
                   background      : #FF0000;
                   color           : #ffffff;
                   float           : left;
                   }
#menu_delete {
		   width           : 37px;
                   margin          : 2px;
                   padding         : 2px;
                   background      : #FF0000;
                   color           : #ffffff;
                   float           : left;
                   }

#menu_line_wrapper      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : transparent;
                   margin-top      : 10px;
                   margin-left     : 10px;
                   float           : left;
                   }
#menu_title_text      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   float           : left;
                   margin-bottom   : 1px;
                   font-size       : 10px;
                   }
#menu_title_input      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   margin-bottom   : 5px;
                   float           : left;
                   }
#menu_page_type_text      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   float           : left;
                   margin-bottom   : 1px;
                   font-size       : 10px;
                   }
#menu_page_type_select      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   margin-bottom   : 5px;
                   float           : left;
                   }
#menu_page_name_text      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   float           : left;
                   margin-bottom   : 1px;
                   font-size       : 10px;
                   }
#menu_page_name_input      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   margin-bottom   : 5px;
                   float           : left;
                   }
#menu_page_title_text      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   float           : left;
                   margin-bottom   : 1px;
                   font-size       : 10px;
                   }
#menu_page_title_input      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   margin-bottom   : 5px;
                   float           : left;
                   }
#menu_page_description_text      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   float           : left;
                   margin-bottom   : 1px;
                   font-size       : 10px;
                   }
#menu_page_description_textarea      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   margin-bottom   : 5px;
                   float           : left;
                   }
#menu_keywords_text      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   float           : left;
                   margin-bottom   : 1px;
                   font-size       : 10px;
                   }
#menu_keywords_textarea      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   margin-bottom   : 5px;
                   float           : left;
                   }
#menu_submit_button      {
                   font-size       : 12px;
                   }
