body       {
	          margin           : 0px;
	          padding          : 0px;
                  font-weight      : normal;
	          font-family      : verdana, arial, helvetica, sans-serif;
                  background       : #E0F8F7;
                  font-size        : 14px;
	          }
textarea  { font-size:12px;font-family:verdana,arial,helvetica,sans-serif;border:1px solid #0101DF;background       : #ffffff;}
input     { font-size:14px;font-family:verdana,arial,helvetica,sans-serif;border:1px solid #0101DF; background:#ffffff;}
submit    { font-size:14px;font-family:verdana,arial,helvetica,sans-serif;border:1px solid #0101DF; background:#ffffff;}
select    { font-size:12px;font-family:verdana,arial,helvetica,sans-serif;border:1px solid #0101DF;}

a:link    {color:#ffffff;} 
a:visited {color:#ffffff;} 
a:hover   {color:#ffffff;} 
a:active  {color:#ffffff;}	

#body_wrapper      {
		   width           : 880px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : #E0F8F7;
                   float           : left;
                   }


#banner_wrapper      {
		   width           : 800px;
		   height          : 500px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : #E0F8F7;
                   margin-top      : 10px;
                   margin-left     : 30px;
                   float           : left;
                   border          : 0px solid #0101DF;
                   }
#banner_title_text      {
		   width           : 800px;
                   margin          : 0px;
                   padding         : 0px;
                   float           : left;
                   margin-top      : 12px;
                   margin-bottom   : 2px;
                   font-size       : 10px;
                   }
#banner_title_input      {
		   width           : 800px;
                   margin          : 0px;
                   padding         : 0px;
                   margin-bottom   : 10px;
                   float           : left;
                   }
#banner_image_text      {
		   width           : 800px;
                   margin          : 0px;
                   padding         : 0px;
                   float           : left;
                   margin-bottom   : 2px;
                   font-size       : 10px;
                   }
#banner_image_current      {
		   width           : 800px;
                   margin          : 0px;
                   padding         : 0px;
                   margin-bottom   : 10px;
                   float           : left;
                   }

#banner_select_new_text      {
		   width           : 800px;
                   margin          : 0px;
                   padding         : 0px;
                   float           : left;
                   margin-top      : 12px;
                   font-size       : 10px;
                   }
#banner_select_new_input      {
		   width           : 800px;
                   margin          : 0px;
                   padding         : 0px;
                   margin-top      : 10px;
                   float           : left;
                   }
#banner_save_button      {
		   width           : 800px;
                   margin-top      : 10px;
		   font-size       : 12px;
                   float           : left;
                   }
