body       {
	          margin           : 0px;
	          padding          : 0px;
                  font-weight      : normal;
	          font-family      : verdana, arial, helvetica, sans-serif;
                  background       : #E0F8F7;
                  font-size        : 12px;
	          }
textarea  { font-size:12px;font-family:verdana,arial,helvetica,sans-serif;border:1px solid #0101DF;}
input     { font-size:12px;font-family:verdana,arial,helvetica,sans-serif;border:1px solid #0101DF;}
select    { font-size:12px;font-family:verdana,arial,helvetica,sans-serif;border:1px solid #0101DF;}

a:link    {color:#ffffff;text-decoration:none;} 
a:visited {color:#ffffff;text-decoration:none;} 
a:hover   {color:#ffffff;text-decoration:none;} 
a:active  {color:#ffffff;text-decoration:none;}	

#body_wrapper      {
		   width           : 540px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : transparent;
                   float           : left;
                   }

#menu_wrapper      {
		   width           : 400px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : transparent;
                   margin-top      : 10px;
                   float           : left;
                   }
#lh_snippet_items_wrapper      {
		   width           : 300px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : transparent;
                   margin-top      : 20px;
                   margin-left     : 20px;
                   float           : left;
                   border          : 1px solid #0101DF;
                   }
#lh_snippet_details_wrapper      {
		   width           : 540px;
		   height          : 490px;
                   margin          : 0px;
                   padding         : 0px;
                   background      : transparent;
                   margin-top      : 20px;
                   margin-left     : 20px;
                   float           : left;
                   border          : 1px solid #0101DF;
                   }

#latest_news_wrapper {
		width         : 270px;
		position      : relative;
		float         : left;
                margin        : 0px;
                margin-top    : 10px;
                padding       : 0px;
                margin-left   : 10px;
               }
#latest_news_add_item {
		width         : 260px;
		position      : relative;
		float         : right;
                margin        : 0px;
                margin-bottom : 10px;
                padding       : 0px;
                margin-right  : 6px;
                text-align    : right;
               }
#latest_news_add_item a:link    {color:#7d7d80;font-weight:bold;text-decoration:none;} 
#latest_news_add_item a:visited {color:#7d7d80;font-weight:bold;text-decoration:none;} 
#latest_news_add_item a:hover   {color:#aaaaaa;font-weight:bold;text-decoration:none;} 
#latest_news_add_item a:active  {color:#aaaaaa;font-weight:bold;text-decoration:none;}

#latest_news_pic_holder {
		width         : 85px;
		float         : left;
                margin        : 0px;
                padding       : 0px;
               }
.latest_news_snippet_holder {
		width         : 170px;
		text-align    : left;
		float         : left;
                margin        : 0px;
                padding       : 0px;
                margin-left   : 10px;
                margin-top    : -2px;
                color         : #7d7d80;
                font-size     : 12px;
               }
.latest_news_snippet_holder a:link    {color:#7d7d80;font-weight:bold;text-decoration:none;} 
.latest_news_snippet_holder a:visited {color:#7d7d80;font-weight:bold;text-decoration:none;} 
.latest_news_snippet_holder a:hover   {color:#aaaaaa;font-weight:bold;text-decoration:none;} 
.latest_news_snippet_holder a:active  {color:#aaaaaa;font-weight:bold;text-decoration:none;}

.latest_news_actions {
		width         : 260px;
		text-align    : right;
		float         : left;
                margin        : 0px;
                padding       : 0px;
                margin-right  : 20px;
                margin-top    : -2px;
                color         : #7d7d80;
                font-size     : 12px;
               }
.latest_news_actions a:link    {color:#7d7d80;font-weight:bold;text-decoration:none;} 
.latest_news_actions a:visited {color:#7d7d80;font-weight:bold;text-decoration:none;} 
.latest_news_actions a:hover   {color:#aaaaaa;font-weight:bold;text-decoration:none;} 
.latest_news_actions a:active  {color:#aaaaaa;font-weight:bold;text-decoration:none;}

#news_title_text      {
		   width           : 500px;
                   margin          : 0px;
                   padding         : 0px;
                   float           : left;
                   margin-bottom   : 2px;
                   font-size       : 10px;
                   }
#news_title_input      {
		   width           : 500px;
                   margin          : 0px;
                   padding         : 0px;
                   margin-bottom   : 5px;
                   float           : left;
                   }
#news_save_button      {
                   margin-top      : 20px;
		   font-size       : 12px;
                   float           : left;
                   }
